.gallery{
    text-align: center;
    font-weight: normal;
    color: #333;
    font-size: 2.5em;
    margin: 10px 10px;
    
}

.gallery img{
    width: 230px;
    padding: 5px;
    transition: 1s;
}

.gallery img:hover{
    transform: scale(1.1);
}
